@import 'assets/scss/global';

$mainImgYmax: 430px;


.mainImg {
    padding: 0;
    background-color: #00BB6D;
    img { 
        @include size(auto, $mainImgYmax);
        margin: 3rem auto;
    }
}
