@import 'assets/scss/global';


$item-width: 320px;
$item-height: 280px;

$item-gap: 2rem;

.tsliders {
    
    @include size(auto, $item-height);
    @include flex(flex, row nowrap);
    margin: 2rem auto 6rem;
    overflow-x: scroll;


    .tslider {
        @include size($item-width, $item-height);
        margin-left: $item-gap;
        &:nth-of-type(1) { margin-left: 0; }
    }
}

::-webkit-scrollbar {
    display: none;
}