<div #slider class="slider columns is-marginless">
  <a *ngFor="let sliderItem of sliderInfo" 
      class="slider-item column"
      [ngStyle]="{ 'transform' : dynamicOffset }"
      (click)="gotoSlideDetail(sliderItem)">
    <div class="image" 
         [style.background-image]="baseUrl"
         [style.background-position]="getXpos(sliderItem.index)">
    </div>
  </a>
  <div (click)="updatePos('left')" *ngIf="isLeft" class="slider-btn left"> </div>
  <div (click)="updatePos('right')" *ngIf="isRight" class="slider-btn right"> </div>
</div>

<app-modal></app-modal>