@import '../../../assets/scss/global';


.slider-gif {
    margin-top: 4.8rem;

    @include flex(flex, row nowrap);
    justify-content: space-between;

    .gif-item-container {
        @include size(800px, 400px);
        
        
        .gif-item {
            @include size(auto, 400px);
            max-width: 800px;
            margin: auto;

            display: block;

            transition: all 0.3s ease-in-out;
        }
    }
    
    .slider-btn {
        margin: auto 0;
        @include size(16px, 34px);
        background-size: contain;
        background-repeat: no-repeat;

        &.left { 
            background-image: url(../../../assets/images/ui/icons/slider_left.small.png); 
        }
        &.right {
            background-image: url(../../../assets/images/ui/icons/slider_right.small.png); 
        }
    }

}
.slider-gif-info {
    text-align: center;
    margin-top: 2rem;
    p { 
        font-size: $size-8;
        color: grey;
        line-height: $line-height-0;
    }
}

