@import 'assets/scss/global';

#about{
    .about-main{
        background-color: #FFFC63;
        
    }

    .about-info {
        .interest {  line-height: 136%; }
        .participation {  line-height: 136%; }
    }
    
}
