@charset "utf-8";


* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}


// 상단 네비게이션 영역
.nav-container {
  z-index: $z-index-navbar;     
  @include size(100%, auto);
  
  @include flex(flex, row nowrap);
  justify-content: space-between;
  
  position: absolute;
  padding: rem(20px);

  .nav-left {
    @include size(20%, auto);

    img { @include size(80px, 47px); }
    @media(min-width: $tablet){
        img { @include size(113px, 67px); }
    }
    
  }
  .nav-right {
    
    text-align: center;
    @include size(10%, 47px);
    @include flex(flex, column nowrap);
    align-content: stretch;

    @media(min-width: $tablet){
        @include size(10%, auto);
        @include flex(flex, row nowrap);
        justify-content: space-around;
    }
    
  }

}


//
// about
//

#about{
    .about-main{
        @include size(100%, 100vh);
        padding: 20vh;
        .hello { max-width: 860px; }
        .contact-msg { margin-top: 20vh; }
    }

    .about-info { margin: rem(100px) auto; }
    
    .section-title {
        margin: 10rem auto 2rem;
    }
}


//
// works 영역
//

.hero{
    @include size(100%, 80vh);
    padding: 20vh;
    .hello {
        max-width: 860px;
    }
    .contact-msg { margin-top: 20vh; }
    &.works { height: 100vh; }
}


.works {
    @include size($warp-main-grid, auto);
     // 사이드 여백은 관리 전체 콘텐츠 크기 잡은 후, 중앙으로 몰아준다 차라리.
    // margin: 80vh auto rem(100px);
    margin: rem(100px) auto;
    

    .work {
      // (그리드 내) 개별 work간의 간격 설정
        margin: rem(30px) auto;

        .image { 
            margin-bottom: 2rem;
            @include size(300px, 270px);
        }
        .work-item {
            margin: 0 auto;
            @include size(300px, auto);
            .work-name { margin: .35rem auto; }
        }
        
    }
}


// 프로젝트 상세 페이지

// 상세페이지 상단 메인이미지 영역


.footer {
    margin-top: 10rem;
}

