@charset "utf-8";


* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}




//
// about
//

#about{
    .about-main{
        @include size(100%, 100vh);
        padding: 20vh;
        .hello { max-width: 860px; }
        .contact-msg { margin-top: 20vh; }
    }

    .about-info { margin: rem(100px) auto; }
    
    .section-title {
        margin: 10rem auto 2rem;
    }
}


//
// works 영역
//


// 프로젝트 상세 페이지

// 상세페이지 상단 메인이미지 영역


.footer {
    margin-top: 10rem;
}

