@import 'assets/scss/global';


/// PC only
#hero{
    @include size(100%, auto);
    padding-top: 10rem;
    // background-image: url('../../../assets/images/works/hello-bg@3x.png');
    // background-size: 100% auto;
    // background-repeat: no-repeat;

    // overflow: hidden;
    background-color: $main-color;
    .main-bg {
        @include size(100%, auto);
        top: 0;
        position: absolute;
        z-index: -1;
    }

    .stuckyi-container {
        
        @include size(600, 200);
        display: block;
        margin: 0 auto;
        overflow: hidden;

        .works-main-img {
            @include size(532px, 152px);
            display: block;
            margin: 0 auto;

        }
    }

    .hello-container {
        @include size(860px, 400px);
        margin: 0 auto;
        padding-top: 2.5rem;
        max-width: 860px; 
        overflow: hidden;
        .hello {
            // transform: translateY(-300px);
            

            p {
                font-size: $size-3;
                font-weight: $weight-medium;
                line-height: $line-height-5;
                letter-spacing: $letter-spacing-1;
                text-align: center;
            }
        }

    }
    
}




/// Mobile
.m-hero {
    @include size(100%, auto);
    display: block;
    padding: 8rem 2.125rem;
    overflow: hidden;

    background-color: $main-color;
    .hello {
        margin-top: 2.375rem;
        font-size: $size-5;
        font-weight: $weight-medium;
        line-height: $line-height-3;
        text-align: justify;
    }

    
}
.underline {
    text-decoration: underline;
}

::-webkit-scrollbar {
    display: none;
}




.is-start {
    &.stuckyi {
        animation: spring-down 0.8s cubic-bezier(1,.015,.295,1.225) forwards running;
    }

    // &.hello {
    //     animation: spring-down-hello 1.2s cubic-bezier(1,.015,.295,1.225) forwards running;
    //     animation-delay: .8s;
    // }
}

@keyframes spring-down{
    0% {transform: translateY(-200px) scale(1.05);}
   100%{transform: translateY(0) scale(1);}
}

// @keyframes spring-down-hello{
//     0% {transform: translateY(-300px) scale(1.05);}
//    100%{transform: translateY(0) scale(1);}
// }