<div class="hero" [class.is-fullheight]="isContactInfo" >
  <div class="container"> 
    <p class="hello"> 스투키 스튜디오는 2016년 3월부터 대한민국 서울에서 활동하고 있습니다.</p>
    <p class="hello"> 그들의 관심분야에 관한 데이터를 찾고 모으고,</p>
    <p class="hello"> 정리하여 이해하기 쉬운 형태로 시각화하는데 희열을 느낍니다.</p>
    <p class="hello"> 정리한 데이터로는 주로 상호작용이 가능한 웹 콘텐츠 </p>
    <p class="hello"> 또는, 인쇄물로 제작하고 있습니다.</p>
    <p *ngIf="isContactInfo" class="contact-msg">작업 문의</p>
    <p *ngIf="isContactInfo" class="contact-email">stuckyi.info@gmail.com</p>
  </div>
</div>