@import 'assets/scss/global';

$test-line-height: 160%;


#hero{
    
    
    @include size(100vw, 80vh);
    padding: 18vh 2.125rem;
    overflow: hidden;

    background-color: $main-color;
    p {
        font-size: $size-5;
        font-weight: $weight-bold;
        line-height: $line-height-5;
    }
    .m-contact-email { 
        margin-top: 10vh; 
    }


    


    @media(min-width: $tablet){
        @include size(100%, 80vh);
        padding: 20vh;

        .hello { max-width: 860px; }
        .contact-msg { 
            font-size: $size-3;
            margin-top: 10vh; 
        }
        p {  
            font-size: $size-2;
            // line-height: $test-line-height;
        }
    }

    &.is-fullheight {
        @include size(100%, 100vh);
    }
}





.mobile-hero-insta {
    @include size(2.438rem, 2.438rem);
}