@import 'assets/scss/global';


/// PC only
#hero{
    @include size(100%, 100vh);
    padding-top: 13rem;
    overflow: hidden;

    background-color: $main-color;

    .works-main-img {
        @include size(532px, 152px);
        display: block;
        margin: 0 auto;
    }
    
    .hello { 
        margin: 0 auto;
        padding-top: 2.5rem;
        max-width: 860px; 
        p {
            font-size: $size-3;
            font-weight: $weight-medium;
            line-height: $line-height-5;
            letter-spacing: $letter-spacing-1;
            text-align: center;
        }
    }
}




/// Mobile
.m-hero {
    @include size(100%, auto);
    display: block;
    padding: 8rem 2.125rem;
    overflow: hidden;

    background-color: $main-color;
    .hello {
        margin-top: 2.375rem;
        font-size: $size-5;
        font-weight: $weight-medium;
        line-height: $line-height-3;
        text-align: justify;
    }

    
}
.underline {
    text-decoration: underline;
}

::-webkit-scrollbar {
    display: none;
}