@import 'assets/scss/global';

$footer-size: 2.438rem;

.footer {
    background: none;
    img {
        @include size($footer-size, $footer-size);
    }
    p {
        font-size: $size-6;
        font-style: $weight-bold;
    }
}