@import '../../assets/scss/global';

$icon-instar: 3rem;

.footer {
    bottom: 0;

    &.pc {

        background-color: #232746;
        margin: 0 auto;
        padding-top: 5rem;
        color: white;
        .footer-title {
            font-weight: $weight-bold;
            font-size: 1.5rem;
            text-decoration: underline;
        }
        .footer-body {
            font-weight: $weight-medium;
            font-size: $size-3;
            margin-bottom: 0;
        }
        .email {
            font-size: $size-3;
            margin-bottom: 2rem;
        }
        img {
            @include size($icon-instar, $icon-instar);
            opacity: 0.3;
            &:hover {
                opacity: 1;
            }
        }

    }

    &.mobile {
        background-color: #232746;
        margin: 0 auto;
        padding-top: 5rem;
        color: white;
        .footer-title {
            font-size: $size-4;
            font-weight: $weight-bold;
            text-decoration: underline;
        }
        .footer-body {
            font-size: $size-6;
            font-weight: $weight-medium;
        }
        .email {
            font-size: $size-6;
            font-weight: $weight-bold;
            margin-bottom: 0;
        }
        img {
            margin-top: 1rem;
            @include size($icon-instar, $icon-instar);
        }

    }
    
    
}