@import 'assets/scss/global';

$footer-size: 2.438rem;

.footer {
    background: none;
    margin: 10rem auto;

    .email {
        font-size: $size-6;
        font-weight: $weight-bold;
        margin-bottom: 0;
    }
    img {
        @include size($footer-size, $footer-size);
    }
    
}