<footer class="pc footer is-hidden-mobile">
  <div class="container">
    <div class="content has-text-centered">
      <p class="footer-title">contact</p>
      <p class="footer-body">협업이나 작업에 대한 요청 및 문의는 아래의 메일로 주세요.</p>
      <p class="email is-marginless">{{emailUrl}}</p>
      <!-- <img (click)="openUrl()" src="/assets/images/ui/icons/instagram_white@2x.png" alt="instagram link icon"> -->
    </div>
  </div>
</footer>


<footer class="mobile footer is-hidden-tablet">
    <div class="container">
      <div class="content has-text-centered">
        <p class="footer-title">contact</p>
        <p class="footer-body">
          협업이나 작업에 대한 <br/>
          요청 및 문의는 아래의 메일로 주세요.
        </p>
        <p class="email is-marginless">{{emailUrl}}</p>
        <img (click)="openUrl()" src="/assets/images/ui/icons/instagram_white@2x.png" alt="instagram link icon">
      </div>
    </div>
  </footer>