
// padding
.no-padding-top { padding-top: 0; }
.no-padding-bottom { padding-bottom: 0; }


// text align
.is-center { text-align: center; }


.is-opacity20 {
    opacity: .2;
}

.is-lightgrey {
    color: lightgray;
}

