
// padding
.no-padding-top { padding-top: 0; }
.no-padding-bottom { padding-bottom: 0; }


// margin
.page-margin { margin: 100px auto; }

.is-margin-top { margin-top: 100px; }
.is-margin-bottom-6rem { margin-bottom: 6rem; }


// text align
.is-center { text-align: center; }


// test width
.is-strong { font-weight: $weight-bold; }
