

// z-index


$z-index-work-mainImg:  -1;  // Work-detail Main Image
$z-index-footer: 100;        // Footer 
$z-index-work-content:  300;  // Work-detail Content
$z-index-works:         500;  // Works
$z-index-navbar:        1000; // Navigation bar
$z-index-modal-bg:      1900; // Modal Background
$z-index-modal-content: 2000; // Modal Content
$z-index-modal-close:   2100; // Close Button
$z-index-btn-gotoTop:   9000; // Global GotoTop Button





/* color */
$main-color: #FFFC63;
$main-color-light: lighten($main-color, 20%);
$main-color-dark: darken($main-color, 20%);


// tag color
$tag-col: #9B9B9B;

// GRID
$base: 900px;

$warp-main-grid: 960px; // 메인 그리드 가로너비 영역 (max)
$wrapWidth: 900px;      // 설명 콘텐츠 가로너비 영역 (max) // wrapWidth's min: 760px max: 900px.


$about-main-height: 80%; // 임의 설정