@import 'assets/scss/global';


.router-loader {
    @include size(100%, 100vh);
    top: 0;
    position: fixed;
    background-color: white;
    opacity: 0;
    animation-fill-mode: forwards;
    z-index: -1;
    &.to-works { z-index: 9100; }
    &.to-detail { z-index: 9100; }
}


.vertical_text {
    z-index: $z-index-vertical-text;
    display: block;
    position: fixed;
    bottom: 0;
    
    p {
        font-size: $size-3; 
        font-weight: $weight-bold;
        letter-spacing: $letter-spacing-1;
        @include rotate(-90);
        @include transform-origin(left top);
    }
}


// animation
.to-works {  @include animation(0, 1s, page_fadeInOut, forwards); }
.to-detail { @include animation(0, 2s, page_fadeInOut, forwards); }

@keyframes page_fadeInOut {
    0% {  z-index: 9100; opacity: 1; }
    3% {  z-index: 9100; opacity: 0; }
    100% { z-index: -1; opacity: 0; }
}
