@import 'assets/scss/global';

// Nav Animation Class
.nav-on {
    display: block; 
    animation: slideInDown 0.48s cubic-bezier(1,.015,.295,1.225) forwards running;
}
.nav-off { 
    display: none;
    animation: slideOutUp 0.48s cubic-bezier(1,.015,.295,1.225) forwards running;
}


.btn-gototop {
    z-index: $z-index-btn-gotoTop;

    @include size(2rem, 2rem);

    position: fixed;
    right: 4%;
    bottom: 4%;

    background-image: url(/assets/images/ui/icons/gototop@2x.png);
    background-repeat: no-repeat;
    background-size: contain;
}



.vertical-text {
    z-index: $z-index-vertical-text;
    
    position: fixed;
	transform: rotate(90deg);
	transform-origin: left top 0;
}
