<!-- 최상단 프로젝트별 메인 이미지 영역 -->

  <div #main class="mainImg"
      [class.isBgImg]="isBgImg"
      [ngStyle]="customStyle.mainImg"
      (window:resize)="getFromResizeEvent()">

    <figure class="image">
      <!-- mobile -->
      <img #imgElMobile
          (load)="getFromResizeEvent()"
          class="img-m is-hidden-tablet" 
          [ngStyle]="customStyle.img"
          [src]="mainImgUrl+'main.m.png'" alt="상세페이지 메인 이미지" />

      <!-- pc -->
      <img #imgEl 
          (load)="getFromResizeEvent()"
          id="img-pc"
          class="img-pc is-hidden-mobile" 
          [ngStyle]="customStyle.img"
          [src]="mainImgUrl+'main.png'" alt="상세페이지 메인 이미지" />
    </figure>
  </div>





<!-- pc -->
<div class="detail is-hidden-mobile">
  <div class="detail-container">
    <div class="columns">
    <!-- title 영역 -->
      <div class="column is-8">
        <p *ngFor="let title of content.title" class="work-title">{{ title }} </p>
        <p class="work-summary column is-9 is-paddingless"> {{ content.summary }} </p>
      </div>
      
      <!-- tag 영역 -->
      <div class="column is-offset-2 is-2"> 
        <p class="tag-title">{{content.year}}<br/>{{ content.tagInfo.title }}</p>
        <p *ngFor="let tagItem of content.tagInfo.items" class="tag-item">{{ tagItem }}</p>
      </div>

    </div>
    
    <!-- 프로젝트 설명 -->
    <p class="sub-title process-desc"> </p> 
    <div class="desc-content column is-8 is-paddingless">
      <p *ngFor="let description of content.descriptions">{{description}}</p>
    </div>
    
    
    <!-- 화면 미리보기 (슬라이더 O) -->
    <div *ngIf="isPreviewSlider">
      <p class="sub-title process-gif"> </p>
      <app-slider-gif [previewSliderItems]="previewSliderItems"></app-slider-gif>
    </div>


    <!-- 프로세스 이미지 -->
    <div *ngIf="isProcessSlider">
      <p class="sub-title process-img"> </p>
      <app-slider 
        [processSpriteImg]="processSpriteImg"
        [processSliderItems]="processSliderItems"> </app-slider>

    </div>

  </div>


</div>

<!-- mobile -->
<div class="m-detail is-hidden-tablet">
  <div class="m-detail-container">
    <div class="columns">
    <!-- title 영역 -->
      <div class="column">
        <p *ngFor="let title of content.title" class="work-title">{{ title }} </p>
        <p class="tag-title">{{ content.year }}, {{ content.tagInfo.title }}</p>
        <span *ngFor="let tagItem of content.tagInfo.items" class="tag-item">{{tagItem}}</span>
      </div>
      
      <!-- tag 영역 -->
      <div class="column"> 
          <p class="work-summary column is-9 is-paddingless"> {{ content.summary }} </p>
      </div>

    </div>
    
    <!-- 프로젝트 설명 -->
    <p class="sub-title process-desc"> </p> 
    <div class="desc-content column is-8 is-paddingless">
      <p *ngFor="let description of content.descriptions">{{description}}</p>
    </div>
    

    <!-- Preview List (mobile only) -->
    <div *ngIf="isPreviewContent">
      <p class="sub-title process-preview"> </p>
      <app-preview
        [previewInfo]="previewContentItems">
      </app-preview>
    </div>

  </div>
</div>
