@import 'assets/scss/global';



.mainImg {
    z-index: $z-index-work-mainImg;
    @include size(100%, auto);
    
    top:0;
    padding: 0;

    overflow: hidden;
    background-color: #e9e9e9;
    
    
    img {
      margin: 0 auto;
      padding: 0;
      max-width: $fullhd;
      @include size(100%, auto);
    }
}





// pc
.detail {
  @include size(100%, auto);
  z-index: $z-index-work-content;

  .detail-container {
    @include size($wrapWidth, auto);
    margin: 3.75rem auto;
    


    // 상세페이지 타이틀
    .work-title { 
        font-size: $size-1;
        font-weight: $weight-bold;
        line-height: 1.2;
        margin-bottom: 0;
    }
    .work-summary {
        font-size: $size-4;
        margin: 2rem 0;
    }

    // 상세페이지 태그 제목
    .tag-title {
        font-size: $size-7;
        margin-bottom: 1.5rem;
    }

    // 상세페이지 태그 아이템
    .tag-item {
        font-size: $size-7;
        color: $tag-col;
    }

    // 프로젝트 설명
    .desc-content {
        p { 
            font-size: $size-5;
            margin: 1.8rem 0;
        }
    }
    // 관련 링크
    .link {
        text-decoration: underline;
    }
  }

}

// mobile detail

.m-detail {
    @include size(100%, auto);
    z-index: $z-index-work-content;
  
    .m-detail-container {
      @include size(100%, auto);
      padding: 1.68rem;
      background-color: white;
  
  
      // 상세페이지 타이틀
      .work-title { 
          font-size: $size-2;
          font-weight: $weight-bold;
          line-height: 1.1;
          
      }
      .work-summary { 
          max-width: 100%;
          font-size: $size-4;
      }
  
      // 상세페이지 태그 제목
      .tag-title { font-size: $size-7; }
  
      // 상세페이지 태그 아이템
      .tag-item {
          font-size: $size-9;
          color: $tag-col;

          &:after {
              content: ',  ';
          }
          &:last-of-type {
              &:after {
                  content: '';
              }
          }
      }
  
      // 프로젝트 설명
      .desc-content {
          p { 
              font-size: $size-5;
              margin: rem(30px) 0;
          }
      }
      // 관련 링크
      .link {
          text-decoration: underline;
      }
    }
  
  }


.sub-title {
    margin-top: 6.25rem; // sub section 간의 간격
    margin-bottom: 2.4rem;

    font-size: $size-4;
    font-weight: $weight-bold;

    &:before {
        margin-top: 3rem;
        padding:4px;
        border-top: 3px solid black;
    }
    &.process-desc {  &:before { content: '프로젝트 설명'; } }
    &.process-img {  &:before { content: '프로세스 이미지'; } }
    &.process-video {  &:before { content: '프로젝트 구현 영상'; } }
    &.process-gif {  &:before { content: '화면 미리보기'; } }
    &.process-link {  &:before { content: '관련 링크'; } }
}




.isBgImg {
  background-size: auto 100% !important;
  background-repeat: repeat-x !important;
}