<!-- 최상단 프로젝트별 메인 이미지 영역 -->
<div class="mainImg">
   <figure class="image">
    <img [src]="mainImgUrl" alt="collection 메인 이미지" />
  </figure>
</div>

<div class="detail">
  <div class="detail-container">
    <div class="columns">
    <!-- title 영역 -->
      <div class="column is-8">
        <p *ngFor="let title of content.title" class="title">{{ title }} </p>
        <p class="summary column is-9 is-paddingless"> {{ content.summary }} </p>
      </div>
      
      <!-- tag 영역 -->
      <div class="column is-offset-2 is-2"> 
        <p class="tag-title">{{content.year}}<br/>{{content.type}}</p>
        <p *ngFor="let tag of content.tags" class="tag-item">{{tag}}</p>
      </div>

    </div>
    
    <!-- 프로젝트 설명 -->
    <p class="subtitle process-desc"> </p> 
    <div class="desc-content column is-8 is-paddingless">
      <p *ngFor="let description of content.descriptions">{{description}}</p>
    </div>
    
    
    <!-- 화면 미리보기 (GIF 슬라이더) -->
    <div *ngIf="isGifSlider">
      <p class="subtitle process-gif"> </p>
      <app-slider-gif [sliderGifInfo]="sliderGifs"></app-slider-gif>
    </div>

    <!-- 프로세스 이미지 -->
    <div *ngIf="isImgSlider">
      <p class="subtitle process-img"> </p>
      <app-slider 
        [sliderImgUrl]="sliderImgUrl"
        [sliderInfo]="content.modalImgs"></app-slider>
    </div>
  </div>


</div>
