@import 'assets/scss/global';



.mainImg {
    z-index: $z-index-work-mainImg;
    @include size(100%, auto);
    
    top:0;
    padding: 0;

    overflow: hidden;
    background-color: #e9e9e9;
    
    
    img {
      margin: 0 auto;
      padding: 0;
      max-width: $fullhd;
      @include size(100%, auto);
    }
}


.detail {
  @include size(100%, auto);
  z-index: $z-index-work-content;

  .detail-container {
    @include size($wrapWidth, auto);
    margin: 3.75rem auto;
    background-color: white;
  }

}


.isBgImg {
  background-size: auto 100% !important;
  background-repeat: repeat-x !important;
}