@import 'assets/scss/global';

.nav-container {
    background: none;       
    z-index: $z-index-navbar;     
    @include size(100%, auto);
    @include flex(flex, row nowrap);
    justify-content: space-between;

    position: fixed;
    top: 0;
    padding: 1.25rem;


    .nav-left {
        @include size(20%, auto);
        @include flex(flex, row nowrap);
        font-weight: $weight-bold;
        
        vertical-align: top;
        justify-content: flex-start;
        overflow: hidden;
        .move { 
            @include size(50%, 24px);
            p {
                
                position: absolute;
                line-height: 157%;
                transition: all 1s ease-in-out;
                &:nth-of-type(1){ opacity: 1; margin-top: 0; }
                &:nth-of-type(2){ opacity: 0; margin-top: 30px; }
            }


        }

        &:hover {
            .move {
                p {
                    &:nth-of-type(1){ opacity: 0;  margin-top: -30px; }
                    &:nth-of-type(2){ opacity: 1; margin-top: 0; }
                }
            }
        }

        img { @include size(5rem, 2.9375rem); }
        @media(min-width: $tablet){



            img { 
                @include size(7.0625rem, 4.1875rem);
            }
        }
        
    }

    .nav-right {
        text-align: center;
        @include size(10%, 47px);
        @include flex(flex, column nowrap);
        align-content: stretch;

        @media(min-width: $tablet){
            @include size(10%, auto);
            @include flex(flex, row nowrap);
            justify-content: space-around;

            div {
                span {
                    position: relative;
                    &:hover {
                        &:before {
                            width: 100%;
                        }
                    }
                    &:before {
                        content: '';
                        position: absolute;
                        left: 0;
                        right: 0;
                        top: 50%;

                        @include size(0, .16rem);
                        background: black;
                        transition: width .4s ease-in-out;
                    }

                }
            }
        }
        
        
    }
    
}
// hover effect
.active-link {
    span {
        &:before {
            width:100% !important;
        }
    }
}



// mobile nav
.m-nav-container {
    z-index: $z-index-navbar;     
    @include size(100%, auto);
    min-height: 2rem;
    @include flex(flex, row nowrap);
    justify-content: space-between;
    background: none;
    position: fixed;
    top: 0;

    .nav-left{
        padding: 1rem;
        img {
            @include size(auto, 50px);
        }
    } 
    .nav-right {
        padding: 1rem;
        @include flex(flex, column nowrap);
        justify-content: space-around;
        div {
            overflow: hidden;
            span {
                position: relative;
                font-size: 1.2rem;
                font-weight: bold;
                &:focus {
                    
                    &:before { width: 100%; }
                }
                &:before {
                        content: '';
                        position: absolute;
                        left: 0;
                        right: 0;
                        top: 50%;

                        @include size(0, .16rem);
                        background: black;
                        transition: width .4s ease-in-out;
                }            
            }

        }
        
    }


}