@import 'assets/scss/global';
@import 'assets/scss/utils/animations';


.modal {
    z-index: $z-index-modal-content;
    overflow: hidden;
    @include testPageTransition();
    // 모달 배경 영역
    .modal-background {
        background-color: rgba(white, 0.9);
    }
    .modal-content{
        @include size(100%, auto);
        overflow: hidden;

        // 모달 메인 이미지 및 좌우 버튼
        .modal-detail {
            @include size(100%, auto);
            @include flex(flex, row nowrap);
            overflow: hidden;
            
            // 모달 메인 이미지
            .modal-main { 
                @include size(auto, 530px);
                max-width: 800px;
                margin: auto;
            }
            // 모달 슬라이더 좌우 버튼
            .slider-btn {
            @include size(100px, 100px);
            margin: auto;
            background-size: contain;
            background-repeat: no-repeat;
            }
            
        }
        // 사진 별 설명
        .desc { 
                text-align: center;
                font-size: rem(17px);
                margin: rem(35px);
        }   
    }

    // 모달 닫기 버튼
    .btn-modal-close {
        @include size(33.5px, 33.5px);
        
        right: 20px;
        top: 20px;
        position: fixed;
        
        
        cursor: pointer;
        background: none;
        border-style: none;
        border-color: none;
        border: none;
        outline: none;

        background-image: url(../../../assets/images/ui/icons/modal_close.png);
        background-size: contain;
        background-repeat: no-repeat;

    }
}


.is-opacity20 {
    opacity: .2;
}

