@import 'assets/scss/global';

$size-hello: $size-2;       // 인사말 폰트 사이즈

$size-info-title: $size-3;  // 작업 문의
$size-info-email: $size-2;  // 이메일 

$size-work-tag: $size-8;    // 그리드 아이템 태그
$size-work-name: $size-3;   // 그리드 아이템 제목


.work-main{
    background-color: $main-color;
}


.works {
    z-index: $z-index-works;

    // MOBILE
    @include size(100%, auto);
    margin: 8rem auto;
    
    // PC
    @media(min-width: $tablet){
        @include size($warp-main-grid, auto);
        margin: 6.25rem auto;
    }
    

    .work {

        // ALL
        padding: 0;


        // MOBILE
        @include size(100%, auto);
        margin: 4rem 0;
        

        // PC
        @media(min-width: $tablet){ 
            @include size(30%, auto);
            @include min-size(16.875rem, 20.1875rem);  // 270, 323
            margin: 1rem;
        }


        .image { 
            // ALL
            padding: 0;
            img { @include size(100%, auto); }
            
            
            // PC
            @media(min-width: $tablet){
                @include size(300px, 270px);
                @include min-size(18.75rem, 16.875rem);  // 300, 270
                
                background-repeat: no-repeat;
                background-position: 0 0%;
            }
            
        }
        .work-item {
            // MOBILE
            @include size(100%, 100px);

            // PC
            @media(min-width: $tablet){ padding: 0; }
            
            // ALL
            .work-tag { 
                margin-top: 0.9375rem;
                font-size: $size-work-tag;
            }
            .work-name { 
                font-size: $size-work-name;
                font-weight: $weight-bold;
                line-height: 1;
            }
        }
    }
}



.about{
    @include size(100%, auto);
    overflow: hidden;
    
    .about-info { 
        margin: 6.25rem auto;
        font-weight: $weight-bold;
        font-size: $size-3;

        .interest {  line-height: 136%; }
        .participation {  line-height: 136%; }
    }
    
    .section-title {
        margin: 10rem auto 2rem;
    }
}





@keyframes sprite {
  from { background-position: 0 0; }
  to { background-position: 100% 0; }
}
.steps5 { animation: sprite 1s steps(5) infinite; }
.steps7 { animation: sprite 1s steps(7) infinite; }
.steps11 { animation: sprite 1s steps(11) infinite; }

