@import 'assets/scss/global';

$col-loading: #e9e9e9;

$size-hello: $size-2;

$size-info-title: $size-3;
$size-info-email: $size-2;

$size-work-tag: $size-8;
$size-work-name: $size-3;


.work-main{
    background-color: #FFFC63;
}


.works {
    .work {
        .image { 
            background-color: $col-loading;
            background-repeat: no-repeat;
            background-position: 0 0%;
        }
        .work-item {
            .work-tag { font-size: $size-work-tag; }
            .work-name { 
                font-size: $size-work-name;
                font-weight: $weight-bold;
                line-height: 0.8;

            }
        }
    }
}



@keyframes sprite {
  from { background-position: 0 0; }
  to { background-position: 100% 0; }
}
.steps5 { animation: sprite 1s steps(5) infinite; }
.steps7 { animation: sprite 1s steps(7) infinite; }
.steps11 { animation: sprite 1s steps(11) infinite; }

