
<!-- hero -->
<app-hero></app-hero>

<!-- works -->
<p class="section-title">works</p>



<!-- pc -->
<div class="works columns is-multiline is-hidden-mobile">
  <div *ngFor="let content of contents" 
        (click)="gotoDetail(content.id)" 
        class="work columns is-multiline">

      <!-- pc: sprite image -->
      <div (mouseenter)="setHoverState(content.title_en)" 
           (mouseleave)="setHoverState(content.title_en)"
          class="image column is-hidden-mobile"
          [ngClass]="setClass(content.title_en)"
          [style.background-image]="'url(/assets/images/works/main/'+content.title_en+'.png)'">
      </div>

      <!-- pc: title, tagInfo -->
      <div class="work-item column is-12 is-hidden-mobile">
        <p class="work-tag">{{ content.tagInfo.title }}</p>
        <p class="work-name" *ngFor="let title of content.title">{{ title }}</p>
      </div>

  </div>

</div>





<!-- about (pc only)-->
<div class="about is-hidden-mobile">
  <!-- works -->
  <p class="section-title">about</p>

  <div class="about-info">

      <p class="about-title" >이런 분야에 대해 다루는 것을 좋아합니다.</p>
      <div class="interest columns is-multiline"> 
        <div *ngFor="let interest of content_about.interests" class="column is-3 is-paddingless">
          <p>{{ interest }}</p>
        </div>
      </div>

      <p class="about-title">참여 프로젝트, 워크숍</p>

      <div *ngFor="let pw of content_about.participationWorks" class="participation columns is-multiline">
        <div class="column is-1 is-paddingless"><p>{{pw.year}}</p></div>
        <div class="column is-5 is-paddingless"><p>{{pw.title}}</p></div>
        <div class="column is-3 is-paddingless"><p>{{pw.host}}</p></div>
        <div class="column is-3 is-paddingless"><p>{{pw.role}}</p></div>
      </div>

  </div>

</div>
  


<!-- mobile -->
<app-touch-slider class="is-hidden-tablet"></app-touch-slider>
