
<app-hero [isContactInfo]="false"></app-hero>

<div class="works columns is-multiline">
  <div *ngFor="let content of contents" (click)="gotoDetail(content.id)" class="work column is-4">
    <div (mouseenter)="setHoverState(content.title_en)" 
         (mouseleave)="setHoverState(content.title_en)"
         class="image"
         [ngClass]="setClass(content.title_en)"
         
         [style.background-image]="'url(/assets/images/works/sprites/'+content.title_en+'.png)'">
    </div>
    <div class="work-item">
      <p class="work-tag">{{ content.type }}</p>
      <p *ngFor="let title of content.title" class="work-name">{{ title }}</p>
    </div>
  </div>

</div>