@import 'assets/scss/global';
// 90% 부분 임의로 설정한 것이기 때문에 다시 결정해봐야한다. 
.work-main{
    background-color: #FFFC63;
}


.works {
    .work {
        .image { 
            background-color: #e9e9e9;
            background-repeat: no-repeat;
            background-position: 0 0%;
        }
        .work-title {
            .sub-title { font-size: 13px; }
            .title { 
                font-size: 20px; 
                font-weight: bold;
            }
        }
    }
}



@keyframes sprite {
  from { background-position: 0 0; }
  to { background-position: 100% 0; }
}
.steps5 { animation: sprite 1s steps(5) infinite; }
.steps7 { animation: sprite 1s steps(7) infinite; }
.steps11 { animation: sprite 1s steps(11) infinite; }

