<!-- 최상단 프로젝트별 메인 이미지 영역 -->
<div class="mainImg"> </div>

<div class="detail">
  <div class="detail-container">
    <div class="columns">
    <!-- title 영역 -->
      <div class="column is-8">
        <p class="title">{{ title }} </p>
        <p class="summary column is-9 is-paddingless"> {{ summary}} </p>
      </div>
      
      <!-- tag 영역 -->
      <div class="column is-offset-2 is-2"> 
        <p class="tag-title">{{year}}<br/>{{type}}</p>
        <p *ngFor="let tag of tags" class="tag-item">{{tag}}</p>
      </div>
    </div>
    
    <!-- 프로젝트 설명 -->
    <p class="subtitle process-desc"> </p> 
    <div class="desc-content column is-8 is-paddingless">
      <p *ngFor="let description of descriptions">{{description}}</p>
    </div>
    

    <!-- 프로세스 이미지 -->
    <p class="subtitle process-img"> </p>
    <div class="processImg columns is-multiline">

      
      <div class="column is-4">
        <figure class="image is-1by1">
          <img [src]="baseUrl+'0.png'">
        </figure>
      </div>
      <div class="column is-4">
        <figure class="image is-1by1">
          <img [src]="baseUrl+'1.png'">
        </figure>
      </div>
      <div class="column is-4">
        <figure class="image is-1by1">
          <img [src]="baseUrl+'2.png'">
        </figure>
      </div>
      <div class="column is-4">
        <figure class="image is-1by1">
          <img [src]="baseUrl+'3.png'">
        </figure>
      </div>
      <div class="column is-4">
        <figure class="image is-1by1">
          <img [src]="baseUrl+'4.png'">
        </figure>
      </div>
      <div class="column is-4">
        <figure class="image is-1by1">
          <img [src]="baseUrl+'5.png'">
        </figure>
      </div>
      <div class="column is-4">
        <figure class="image is-1by1">
          <img [src]="baseUrl+'6.png'">
        </figure>
      </div>
      <div class="column is-4">
        <figure class="image is-1by1">
          <img [src]="baseUrl+'7.png'">
        </figure>
      </div>
      <div class="column is-4">
        <figure class="image is-1by1">
          <img [src]="baseUrl+'8.png'">
        </figure>
      </div>
    </div>


  </div>

</div>
