@import 'assets/scss/global';

// 1024에서 740 = 72.265625 %

$wrapWidth: 740px;
$mainImgHeight: 452px;

$tag-col: #ADADAD;
.navbar {
    position: absolute;
}
.mainImg {
    @include size(100%, $mainImgHeight);
    @include testBg();
    top: 0;
}

.wrap {
    @include size($wrapWidth, auto);
    @include testBorder();
    margin: $mainImgHeight auto $mainImgHeight/2;


    .title { 
        font-size: 2.25rem;
        font-weight: bold;
    }
    .summary {
        font-size: 1.125rem; // 18px
    }

    .tag-title {
        font-size: 0.875rem;
        font-weight: bold;
        margin-bottom: 1.8rem; 
    }
    .tag-item {
        font-size: 0.875rem;
        font-weight: bold;
        color: $tag-col;
    }
    
    .desc-content {
        @include size(585px, auto);
        p {
            margin: 1.2rem 0;
            line-height: 130%;
            font-size: 1.063rem; //17px
            font-weight: bold;
        }
    }
    .processImg {
        margin: 2rem 0;
        .column {
            @include testBorder();
        }
    }

    .subtitle-wrap {
        @include size(auto, auto);
        
        
    }
    .subtitle {
        
        @include size(120px, auto);
        text-decoration: overline;
        text-decoration-style: solid;
        

        
        
        font-size: 1.188rem; // 19px
        font-weight: bold;

        &.desc { margin-top: 4rem; }
        &.process { margin-top: 8rem; }
    }

}